.catalog {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  gap: 20px;
}

.doc {
  height: 250px;
  width: 200px;
  border: 1px solid #00000020;
  border-radius: 1rem;
  cursor: pointer;
  overflow: hidden;
  transition: transform var(--transition);
}

.doc:hover{
  transform: translateY(-0.5rem);
}

.doc-img {
  height: 65%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
}

.doc-img img {
  height: 160px;
  object-fit: cover;
  object-position: center;
}

.doc-info {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.availability {
  font-size: 0.8rem;
  text-transform: capitalize;
  color: limegreen;
}

.name {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
}

.job {
  font-size: 0.8rem;
  text-transform: capitalize;
}

@media (max-width: 950px) {
  .catalog {
    grid-template-columns: repeat(4 , minmax(150px, 1fr));
    gap: 30px;
  }
  .doc {
    height: 250px;
    width: 180px;
  }
}

@media (max-width: 425px) {
  .catalog {
    grid-template-columns: repeat(2 , minmax(150px, 1fr));
    gap: 10px;
  }
  .doc {
    height: 250px;
    width: 180px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .catalog {
    grid-template-columns: repeat(3 , minmax(200px, 1fr));
    gap: 30px;
  }
  .doc {
    height: 250px;
    width: 200px;
  }
}