main {
  display: flex;
  column-gap: 2rem;
}

aside{
  width: 20%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.btn {
  text-transform: capitalize;
  border: none;
  border-radius: 2rem;
  outline: none;
  padding: 0.5rem 1rem;
  color: var(--primary);
  background-color: var(--cta);
  transition: scale 0.3s ease;
  cursor: pointer;
}

.active-btn {
  color: var(--secondary);
}

.btn:hover {
  scale: 1.05;
}

.btn:active {
  scale: 0.9;
}

.catalog {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(autofill, minmax(260px, 1fr));
  gap: 20px;
}

.doc {
  /* height: 350px;
  width: 200px; */
  border: 1px solid #00000020;
  border-radius: 1rem;
  cursor: pointer;
  transition: transform var(--transition);
}

.doc:hover{
  transform: translateY(-0.5rem);
}

.doc-img {
  height: 65%;
  width: 100%;
  background-color: var(--secondary);
}

.doc-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.availability {
  font-size: 0.8rem;
  text-transform: capitalize;
  color: limegreen;
}

.name {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
}

.job {
  font-size: 0.8rem;
  text-transform: capitalize;
}

.book-btn {
  align-self: center;
  margin-top: 0.5rem;
  font-size: 0.8rem;
  color: var(--primary);
}