@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  /* outline: 1px dotted red; */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-size: 14px;
}

:root {
  --primary: #fffffe;
  --cta: #eebbc3;
  --extra: #b8c1ec;
  --secondary: #232946;
  --transition: 0.3s ease;
}

body {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 0 5vw;
  background-color: var(--primary);
}

.cta {
  padding: 0.8rem 1.8rem;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  border-radius: 1.5rem;
  background-color: var(--cta);
  cursor: pointer;
  transition: scale var(--transition);
}

.cta:hover {
  scale: 1.05;
}

.cta i {
  font-size: 1rem;
}

.para {
  font-size: 1rem;
  line-height: 1.2;
  color: var(--secondary);
}