.hero {
  height: 30vw;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  background-color: var(--secondary);
}

.hero-heading {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--primary);
}

.hero-img {
  flex: 1;
  height: 100%;
  padding-right: 15rem;
  overflow: hidden;
}

.hero-img img {
  width: 535px;
  object-fit: cover;
  object-position: center;
}

.hero-para {
  font-size: calc(1.5rem / 1.6);
  margin-top: 2rem;
  line-height: 1.5;
  color: var(--primary);
}

.hero-cta {
  color: var(--secondary);
  background-color: var(--cta);
}

.speciality-sec,
.topic {
  margin-top: 4rem;
}

h2 {
  text-align: center;
  font-weight: 500;
  color: var(--secondary);
}

.specialities {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  margin-top: 2rem;
}

.speciality {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;
}

.img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.img img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: center;
}

.title {
  font-size: 0.8rem;
  text-transform: capitalize;
  text-align: center;
}

.catalog {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

.doc {
  height: 250px;
  width: 200px;
  border: 1px solid #00000020;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  transition: transform var(--transition);
}

.doc:hover{
  transform: translateY(-0.5rem);
}

.doc-img {
  height: 65%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
}

.doc-img img {
  height: 160px;
  object-fit: cover;
  object-position: center;
}

.doc-info {
  height: 350%;
  width: 100%;
  padding: 10px;
}

.availability {
  font-size: 0.8rem;
  text-transform: capitalize;
  color: limegreen;
}

a .name, a .job {
  color: var(--secondary);
}

.name {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
}

.job {
  font-size: 0.8rem;
  text-transform: capitalize;
}

.sec .para {
  text-align: center;
}

.docs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.docs .cta {
  margin-top: 2rem;
  color: var(--primary);
  background-color: var(--cta);
}

.ad {
  height: 50vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--secondary);
}

@media (max-width: 950px) {
  .hero {
    height: 70vh;
  }
  .hero-img {
    padding-right: 15rem;
  }
  .catalog {
    grid-template-columns: repeat(4 , minmax(150px, 1fr));
    gap: 30px;
  }
  .doc {
    height: 250px;
    width: 180px;
  }
}

@media (max-width: 425px) {
  .hero {
    height: 80vh;
    flex-direction: column;
  }
  .catalog {
    grid-template-columns: repeat(2, 1fr);
  }
  .specialities {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    margin-top: 2rem;
    flex-wrap: wrap;
  }
  .speciality {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
  }
  .hero-img {
    display: none;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .hero {
    height: 60vh;
    flex-direction: column;
  }
  .catalog {
    grid-template-columns: repeat(3, 1fr);
  }
  .specialities {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    margin-top: 2rem;
    flex-wrap: wrap;
  }
  .speciality {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
  }
  .hero-img {
    display: none;
  }
}

@media (min-width: 1441px) {
  .hero-img img {
    width: 80rem;
  }
}